{%extends "vidpic/base.html"%}
{%block content%}
{%include "vidpic/navbar.html"%}
<h2 style="padding-left: 50px;">Who are we ?</h2>
<hr>
<div style="padding: 50px;"><p>Hi welcome to this picturea and video sharing app. I hope you enjoy the videos and apps that will shared here. We also encourage users to adhere to the Terms and Conditions of the space provided, hurtful speech , racial slurs are out of bounds etc, and in some instances legal measures may be taken on those who go against the rules of engagement</p> </div>


{%endblock%}