{%extends "vidpic/base.html"%}

{%block content%}
{%include "vidpic/navbar.html"%}
{%if profile_list%}
{%for profile in profile_list%}

<div class="card" style="width: 18rem;">
  <img src="{{profile.avatar.url}}" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">{{profile.user.username}}</h5>
    <p class="card-text">{{profile.bio}}</p>
    <a href="account/{{profile.user.id}}" class="btn btn-primary">View profile</a>
  </div>
</div>
<hr>

{%endfor%}
{%endif %}
{%endblock%}